name: GitHub Repo Stats

on:
  schedule:
    # 每天北京时间早上 8:00 运行
    - cron: '0 0 * * *'
  workflow_dispatch: # 允许手动运行

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Generate Traffic Charts
        uses: MishaKav/github-traffic-stats@v1.1.1
        with:
          # 使用你之前配置在 Secrets 里的 Token
          token: ${{ secrets.DEEPSEEK2MD_RELEASE }}
          # 统计当前仓库
          repository: ${{ github.repository }}
          # 自动创建一个名为 'github-traffic-stats' 的分支来存储数据和图片
          base_branch: github-traffic-stats
