name: GitHub Repo Stats

on:
  schedule:
    # 每天 UTC 时间 0:00 运行一次 (北京时间早上 8:00)
    - cron: '0 0 * * *'
  workflow_dispatch: # 允许手动点击运行

jobs:
  run-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate stats
        uses: jgehrcke/github-repository-stats@v1
        with:
          # 使用我们刚才配置的 Secret
          token: ${{ secrets.DEEPSEEK2MD_RELEASE }}
          # 告诉 Action 哪些数据需要持久化
          # 默认会保存到分支 `gh-pages` 的 `charts` 目录下
          datadir: charts
